@import url("../../app.less");

.jb-list {
  display: flex;
  flex-direction: column;

  .jb-list-item {
    // padding: 10px;
    padding: 6px 8px;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    // margin-bottom: 6px;
    border-radius: 10px;
    background-color: @background-color-1-item;
    // box-shadow: 0px 1px 4px #acabab;
    display: flex;
    flex-direction: column;

    .list-item-header {
      .flexBox();
      flex-direction: row;
      font-size: 14px;
      position: relative;

      .icon {
        font-size: 18px;
      }

      .title {
        display: flex;

        .date {
          display: flex;
          position: absolute;
          // top: -6px;
          top: 0px;
          right: 0;
          text-align: end;
          font-size: 12px;
          font-weight: bold;

          .time {
            .flexBox();
            color: @color-5;
            margin-right: 2px;
          }

          .weekday {
            color: @color-1-text;
          }
        }

        .drama {
          .flexBox();
          color: @color-6;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }

    .list-item-middle-content {
      .flexBox();
      justify-content: space-between;
      padding: 2px 8px;
      font-size: 14px;

      .shop-name {
        .flexBox();
      }
    }

    .list-item-content {
      .comment {
        margin-top: 4px;
        font-size: 12px;
        color: @color-2-text;
        background-color: @background-color-1-comment;
        border-radius: 10px;
        padding: 2px 8px;
      }
    }
  }

  .jb-list-item {
    margin-top: 6px;
  }
}
